#pragma code_page(65001)
1 VERSIONINFO
PRODUCTVERSION 0, 1, 0, 0
FILETYPE 0x1
FILESUBTYPE 0x0
FILEFLAGSMASK 0x3f
FILEFLAGS 0x0
FILEOS 0x40004
FILEVERSION 0, 1, 0, 0
{
BLOCK "StringFileInfo"
{
BLOCK "000004b0"
{
VALUE "ProductVersion", "0.1.0"
VALUE "FileVersion", "0.1.0"
VALUE "ProductName", "from_resource"
}
}
BLOCK "VarFileInfo" {
VALUE "Translation", 0x0, 0x04b0
}
}
1   ICON    "resources/app.ico"
2   HTML    "resources/web/index.html"
3   HTML    "resources/web/styles/style.css"